<!DOCTYPE html>
<html>
    <head>
        <title>Build a Blog</title>
        <style>
            h2, body {
                font-family: sans-serif;
            }
            h2 {
                color: #0000FF;
            }
            p{
                color: #3366FF;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
        </style>
    </head>
    <body>
    <div>
        <a href='/logout'>log out</a>
    </div>

    <div>
        <a href='/new_post'>New Post</a>
        <a href='/blog'>Current Posts</a>
        <a href='/'>Home</a> 
    </div>
    <div>
        <h1>Build a Blog</h1>
    </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>